.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 300px);
  }
  
  .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .description {
    color: #282828;
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .input {
    width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    border-color: #282828;
  }
  
  .input::placeholder {
    color: #B8B8B8;
  }
  
  .label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
  }
  
  .sbuttonContainer {
    text-align: center;
    margin-top: 60px;
  }
  
  .submitButton {
    width: 400px;
    height: 50px;
    cursor: pointer;
  }
  