.cardContainer {
  width: 290px;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  color: #282828;
  margin: 20px 0 10px 0; 
}

.groupImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.cardContent p {
  margin: 5px 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.nicknameRow {
  font-size: 14px;
  color: #282828;
  display: flex;
  align-items: center;
}

.status {
  position: relative;
  left: 20px;
  color: #B8B8B8;
}

.divider {
  margin: 0 5px;
  color: #B8B8B8;
  position: relative;
  left: 10px;
}

.tags {
  font-size: 14px;
  color: #B8B8B8;
  margin-bottom: 25px; 
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #282828;
  margin-bottom: 10px;
}

.footer p {
  margin: 0; 
}

.likeCommentContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.likeCommentContainer p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8D8D8D;
}

.likeIcon {
  width: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.comIcon {
  width: 24px;
  margin-left: 5px;
  margin-right: 5px;
}
