.listContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.emptyMessage {
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #8D8D8D;
  padding: 100px 0;
}

.noGroupsMessage {
  margin-top: 30px;
  font-weight: bold;
}

.suggestCreateGroup {
  margin-top: 10px;
  font-size: 14px;
  color: #8D8D8D;
}

.createButton {
  margin-top: 100px;
}